.left-right-wrap{
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-right-wrap .left {
    float: left;
    width: 220px;
    background-color: green;
    min-height: 200px;
}

.left-right-wrap .right {
    background-color: darkseagreen;
    margin-left: 220px;
    min-height: 200px;
    padding: 6px;
}
.left-right-wrap .clear{
    clear: both;
}

